.intro-banner--title {
    margin-bottom: 4px;
    font-size: 64px;
}
.intro-banner--title {
    margin-bottom: 4px;
    font-size: 60px;
}
.intro-banner--title {
    margin-bottom: 2px;
    line-height: normal;
    color: #333;
    font-family: Savoy,Georgia,serif;
    font-weight: 400;
    font-style: italic;
}
*, :after, :before {
    box-sizing: border-box;
}
.intro-banner {
    position: relative;
    margin: 40px 0;
    text-align: center;
}
.intro-banner--title:after, .intro-banner--title:before {
    width: 75px;
}
.intro-banner--title:after, .intro-banner--title:before {
    bottom: 17px;
    margin-right: 23px;
    width: 64px;
}
.intro-banner--title:after, .intro-banner--title:before {
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-right: 8px;
    background-color: #333;
    width: 28px;
    height: 1px;
    content: "";
}
*, :after, :before {
    box-sizing: border-box;
}
.intro-banner--title:after, .intro-banner--title:before {
    width: 75px;
}
.intro-banner--title:after {
    margin-left: 23px;
}
.intro-banner--title:after, .intro-banner--title:before {
    bottom: 17px;
    margin-right: 23px;
    width: 64px;
}
.intro-banner--title:after {
    margin: 0 0 0 8px;
}
.intro-banner--title:after, .intro-banner--title:before {
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-right: 8px;
    background-color: #333;
    width: 28px;
    height: 1px;
    content: "";
}
.intro-banner--date {
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: .2em;
    color: #999;
    font-family: FranklinGothic,Helvetica,sans-serif;
    font-size: 8px;
}
.intro-banner--date {
    font-size: 14px;
}
.feed-card--wrapper:first-child {
    border-top: 0;
}
.feed-card--wrapper {
    margin-bottom: 0;
}
.feed-card--wrapper {
    margin-bottom: 40px;
    border-top: 1px solid #ededed;
}
.feed-card--title {
    line-height: 1.2em;
    font-size: 32px;
}
.feed-card--title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Savoy,Georgia,serif;
    line-height: 1.2em;
    letter-spacing: -.02em;
    color: #333;
    font-size: 24px;
    font-weight: 400;
}
.feed-card {
    display: inline;
    justify-content: space-evenly;
}
.last-items-detail {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
